@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'IntroDemo';
    src: 
      url('/fonts/Intro/IntroDemo-BlackCAPS.eot'), /* IE9 Compat Modes */
      url('/fonts/Intro/IntroDemo-BlackCAPS.woff2') format('woff2'), /* Super Modern Browsers */
      url('/fonts/Intro/IntroDemo-BlackCAPS.woff') format('woff'), /* Pretty Modern Browsers */
      url('/fonts/Intro/IntroDemo-BlackCAPS.ttf')  format('truetype'); /* Safari, Android, iOS */
  }
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .hide-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  .debug > * {
    outline: 1px solid red;
  }
}