@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'IntroDemo';
    src: 
      url('/fonts/Intro/IntroDemo-BlackCAPS.eot'), /* IE9 Compat Modes */
      url('/fonts/Intro/IntroDemo-BlackCAPS.woff2') format('woff2'), /* Super Modern Browsers */
      url('/fonts/Intro/IntroDemo-BlackCAPS.woff') format('woff'), /* Pretty Modern Browsers */
      url('/fonts/Intro/IntroDemo-BlackCAPS.ttf')  format('truetype'); /* Safari, Android, iOS */
  }
}

@layer utilities {

  .carousel {
    overflow-y: visible;
    overflow-x: clip;
  }

  .select-active-root {
    @apply rounded-t-4 border-blocked-500;
    border-bottom-color: transparent;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .hide-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  .debug > * {
    outline: 1px solid red;
  }

  .term {
    @apply text-gray-600;
  }

  .term::after {
    content: ":\00a0";
  }

  .body-reg {
    @apply font-base font-reg text-13 420:text-16 tracking-2;
  }

  .body-med {
    @apply font-base font-med text-13 420:text-16 tracking-2;
  }

  .body-bold {
    @apply font-base font-bold text-13 420:text-16 tracking-2;
  }

  .body-sbold {
    @apply font-base font-sbold text-13 420:text-16 tracking-2;
  }
}